<script>
    window.COCODE_DEMO = window.COCODE_DEMO || {}
    window.COCODE_DEMO.course = {
        "name": "Demo Course",
        "id": "demo-course",
        "version": "0.1.0",
        "description": "A demo course.",
        "allow_experiment": true,
        "chapters": [
            {
                "name": "Demo Chapter",
                "description": "A demo chapter.",
                "materials": [
                    {
                        "name": "Demo Material",
                        "type": "exercise",
                        "id": "demo-exercise"
                    },
                ]
            },
            ],
    }
    window.COCODE_DEMO.material = {
        "name": "Demo with Robot",
        "id": "demo-exercise",
        "type": "exercise",
        "gradable": true,
        "runner": "python3",
        "editor": "single",
        "main_file": "main.py"
    }
    window.COCODE_DEMO.materialState = { 
        "demo-exercise": { 
            "id": 1, 
            "user_id": 19, 
            "course_id": "intro-with-python", 
            "id": "demo-course", 
            "progress": 0, 
            "star": 0, 
            "value": "", 
            "created_at": 1605183095.347669, 
            "updated_at": 1605183095.349038,
        },
    }
    window.COCODE_DEMO.materialAccessible = {
        "demo-exercise": true,
    }
    window.COCODE_DEMO.content = `
# Cocode: Demo

This is a demo website that shows Cocode system in action. 
To serve as a static website with GitHub Pages, some of the Cocode's features are omitted in this demo.

- Read the paper "[Cocode: Providing Social Presence with Co-learner Screen Sharing in Online Programming Classes](https://drive.google.com/file/d/1WFXjpsuXANGPvBnq3rEbWPvQBGNfLSk8/view?usp=sharing)" to learn more about this project.
- Visit [Jeongmin Byun's website](http://jeongmin.byun.me/) to see more interesting projects.

## Cocode?

Cocode is a system designed for an online programming class that shows 
other learners' code editors and running output in the programming environment 
with minimum privacy issues. 

With Cocode, learners can share the social presence without any explicit action. 
their normal learning activities would be used to provide visual cues for social presence.

This demo website serves a simple Python programming exercise with Cocode.

## Task: Move the Robot

Write a code that creates a robot named \`bot\` and moves the robot to the 
top right corner of the world.

Click on **Run** button to run your code and see what happens. 
When you finished writing your code, click on **Submit** button to auto-grade your code.

### Tips

Import the robot library with following code:

\`\`\`python
from cocode.robot.helper import *
\`\`\`

Create a robot world with \`create_world()\` function:

\`\`\`python
create_world()
\`\`\`

Create your robot with the \`Robot\` class:

\`\`\`python
bot = Robot()
\`\`\`

Move and turn your robot with \`Robot.move()\` and \`Robot.turn_left()\`:

\`\`\`python
bot.move()
bot.turn_left()
\`\`\`

### Grading Criteria

Following tasks should be done in order to get full score in this exercise:
1. Create a world using \`create_world()\` function.
1. Create a robot named \`bot\` at the bottom left corner of the world.
1. Move the robot to the location at the top right corner of the world. 
    `
    window.COCODE_DEMO.code = `
from cocode.robot.helper import *

print('Hello robot')

create_world()
bot = Robot()

# Show blue lines that trace the movement of the "bot".
bot.set_trace('blue')

# Turn "bot" left, move two steps forward,
# Turn left for three times, and then move forward three steps.
bot.turn_left()
bot.move()
bot.move()
for i in range(3):
    bot.turn_left()
for i in range(3):
    bot.move()
    `
    window.COCODE_DEMO.grader = `
from browser import window

def grader_print(*args, end='\\n'):
    message = ' '.join([str(arg) for arg in args]) + end
    window.sendMsg('grade-out', message)

def grader_set_progress(progress):
    window.sendMsg('grade-progress', str(progress))

def grader_set_star(star):
    window.sendMsg('grade-star', str(star))

def grader_set_value(value):
    window.sendMsg('grade-value', str(value))

result = False
star = 0
global_scope = {}

exec(__code__, global_scope)

if global_scope['bot'].position.to_list() == [9, 9]:
    result = True
    grader_print('Everything is in place! Well Done!')
else:
    grader_print('It seems like you did not send "bot" to the top right corner.')

grader_set_progress(100 if result else 0)
grader_set_star(3 if result else 0)
    `
</script>

