<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cocode Demo</title>
    <meta name="description" content="A static demo website for Cocode.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/24031f45ff.js"></script>
    <script src="./assets/script/catalog.js"></script>
    <script src="./assets/bundle/polyfill.js"></script>
    <script src="./assets/bundle/main.js"></script>
    <script>window.setStaticUrl(window.location.href + 'assets/');</script>
    <script src="./assets/bundle/brython.js"></script>
    <script src="./assets/bundle/course.js"></script>
    <script src="./assets/bundle/exercise.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/style/index.css">
</head>

<body>
    {{ content }}
</body>

</html>